@charset "UTF-8";

/*reset*/
body {background:#fff;font-family:'Noto Sans KR',sans-serif;}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, address,
img,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
footer, header,
nav, section,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

ol, ul {list-style-type:none;}
a{color:inherit;text-decoration:none;}
input:not([type="checkbox"]):not([type="radio"]), button{font-family:inherit;appearance:none;-webkit-appearance:none;-moz-appearance:none;}
input[type="text"]{border-radius:0;}
noscript, caption {width:0px;height:0px;text-indent:-20000px;}
pre {font-family:inherit;white-space:pre;white-space:pre-wrap;white-space:pre-line;white-space:-pre-wrap;white-space:-o-pre-wrap;white-space:-moz-pre-wrap;white-space:-hp-pre-wrap;word-wrap:break-word;}
ul.short-cut {position:absolute;top:-5000px;}
img, input, select, textarea {vertical-align:middle;}

/*header*/
.wrap{position:relative;}
header{position:fixed;top:0;left:0;z-index:20;width:100%;}
header.down .top-header-wrap{background-color:#fbeaea;}
.btn-m-menu{display:none;}
.slideMenu{display:none;}
.top-header-box{margin:0 auto;padding:40px 0;width:100%;max-width:1300px;}
.top-header-box h1{display:inline-block;}
.top-header-box h1 a{font-weight:700;font-size:28px;color:#666;line-height:23px;}
.gnb-wrap{float:right;}
.gnb-wrap .gnb .gnb-ul{font-size:0;}
.gnb-wrap .gnb .gnb-ul > li{display:inline-block;padding:0 50px 0 0;}
.gnb-wrap .gnb .gnb-ul > li:last-of-type{padding:0;}
.gnb-wrap .gnb .gnb-ul > li > a{position:relative;font-weight:500;font-size:26px;color:#999;line-height:31px;}
.gnb-wrap .gnb .gnb-ul > li.active > a{color:#e4c5dd;}
.gnb-wrap .gnb .gnb-ul > li.active > a:after{content:'';display:block;width:100%;height:3px;background-color:#e4c5dd;}

/*main-visual*/
.main-visual-wrap{background:linear-gradient( to bottom, #a2b0d1, #fbeaea);}
.main-visual-box{position:relative;margin:0 auto;width:100%;max-width:1300px;height:100vh;}
.main-visual-box .vi-txt-box{position:absolute;top:50%;right:0;width:100%;max-width:1300px;text-align:right;transform:translateY(-50%);-ms-transform:translateY(-50%);opacity:0;animation:fromRight 1s forwards;animation-delay:0.4s;}
.main-visual-box .vi-txt-box .txt01{padding:0 0 55px;font-weight:500;font-size:30px;color:#666;line-height:35px;letter-spacing:-1px;}
.main-visual-box .vi-txt-box .txt02{font-size:60px;color:#666;line-height:65px;}
.main-visual-box .vi-txt-box .txt02 span{font-weight:700;}

@keyframes fromRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/*main-content01*/
.main-content-box01{background-color:#cacad7;}
.main-content-box01 .main-mini-wrap{display:flex;margin:0 auto;padding:100px 0;width:100%;max-width:1300px;align-items:center;}
.main-content-box01 .img-box{padding:0 70px 0 0;width:38%;height:500px;}
.main-content-box01 .img-box img{width:100%;height:100%;object-fit:cover;}
.main-content-box01 .txt-box{width:62%;}
.main-content-box01 .txt-box .tit-txt{padding:0 0 60px;font-weight:500;font-size:30px;color:#666;line-height:35px;}
.main-content-box01 .txt-box .con-txt01{padding:0 0 20px;font-size:18px;color:#666;line-height:26px;}
.main-content-box01 .txt-box .con-txt02{font-size:18px;color:#666;line-height:26px;}

/*main-content02*/
.main-content-box02 .main-mini-wrap{margin:0 auto;padding:100px 0;width:100%;max-width:1300px;}
.main-content-box02 .tit-txt{padding:0 0 80px;font-weight:500;font-size:30px;color:#666;line-height:35px;text-align:center;}
.main-content-box02 .ability-box ul{display:flex;text-align:center;justify-content:space-between;}
.main-content-box02 .ability-box ul li{width:calc(33.333% - 14px);margin:0 20px 0 0;}
.main-content-box02 .ability-box ul li:last-of-type{margin:0;}
.main-content-box02 .ability-box ul li .img-box{padding:0 0 20px;}
.main-content-box02 .ability-box ul li .img-box img{max-width:100%;}
.main-content-box02 .ability-box ul li .ability-txt01{padding:0 0 30px;font-size:22px;color:#666;line-height:27px;}
.main-content-box02 .ability-box ul li .ability-txt02{font-size:18px;color:#666;line-height:23px;}

/*main-content03*/
.main-content-box03{background-color:#f1f1f1;}
.main-content-box03 .main-mini-wrap{margin:0 auto;padding:100px 0;width:100%;max-width:1300px;}
.main-content-box03 .tit-txt{padding:0 0 80px;font-weight:500;font-size:30px;color:#666;line-height:35px;text-align:center;}
.main-content-box03 .portfolio-list-box ul{text-align:center;}
.main-content-box03 .portfolio-list-box ul li{display:inline-block;margin:0 35px 0 0;width:calc(25% - 29px);}
.main-content-box03 .portfolio-list-box ul li:last-of-type{margin:0;}
.main-content-box03 .portfolio-list-box ul li .img-box{margin:0 0 20px;height:240px;}
.main-content-box03 .portfolio-list-box ul li .img-box img{width:100%;height:100%;object-fit:cover;}
.main-content-box03 .portfolio-list-box ul li .img-box:hover{box-shadow:5px 10px 10px rgba(0,0,0,.3);}
.main-content-box03 .portfolio-list-box ul li .txt-box p{font-size:20px;color:#666;line-height:25px;}

/*footer*/
.top-footer-wrap{position:relative;background-color:#fbeaea;}
.top-footer-box{margin:0 auto;padding:20px 0;width:100%;max-width:1300px;text-align:center;}
.top-footer-box .copyright{font-size:16px;color:#666;line-height:21px;}
.top-footer-wrap .scroll-top{position:absolute;bottom:100%;left:50%;border:1px solid #fff;border-radius:50%;background-color:#edc7c5;transform:translateX(-50%);}
.top-footer-wrap .scroll-top:hover{border-color:#cd9592;}
.top-footer-wrap .scroll-top a{display:block;padding:17px 0;width:46px;height:46px;font-size:13px;color:#fff;line-height:1;text-align:center;box-sizing:border-box;}

@media screen and (max-width:1024px){
/*header*/
.top-header-box{padding:20px 10px;box-sizing:border-box;}
.top-header-box h1 a{font-size:24px;line-height:29px;}
.gnb-wrap{display:none;}
.btn-m-menu{display:block;float:right;margin:14px 0 0;width:35px;height:15px;background:url(../img/img-btn-m-menu.png) no-repeat 0 0/100%;text-indent:-99999px;}
.slideMenu{position:fixed;top:0;left:0;width:100%;background-color:rgba(0,0,0,.8);}
.slide-close{position:absolute;top:40px;right:20px;width:27px;height:27px;background:url(../img/btn-m-menu-close.png) no-repeat 0 0/100%;text-indent:-99999px;}
.m-gnb{padding:40px 20px;}
.m-gnb .gnb-ul{padding:35px 0 0;}
.m-gnb .gnb-ul li{padding:0 0 20px;}
.m-gnb .gnb-ul li:last-of-type{padding:0;}
.m-gnb .gnb-ul li a{font-size:16px;color:#fff;line-height:21px;}
.m-gnb .gnb-ul li a:hover{text-decoration:underline;}

/*main-visual*/
.main-visual-box{padding:0 10px;box-sizing:border-box;}
.main-visual-box .vi-txt-box{right:10px;}
.main-visual-box .vi-txt-box .txt01{padding:0 0 30px;font-size:26px;line-height:31px;}
.main-visual-box .vi-txt-box .txt02{font-size:48px;line-height:53px;}

/*main-content01*/
.main-content-box01 .main-mini-wrap{padding:50px 10px;box-sizing:border-box;}
.main-content-box01 .img-box{padding:0 30px 0 0;height:380px;}
.main-content-box01 .txt-box .tit-txt{padding:0 0 30px;font-size:26px;line-height:31px;}
.main-content-box01 .txt-box .con-txt01{font-size:16px;line-height:23px;}
.main-content-box01 .txt-box .con-txt02{font-size:16px;line-height:23px;}

/*main-content02*/
.main-content-box02 .main-mini-wrap{padding:50px 10px;box-sizing:border-box;}
.main-content-box02 .tit-txt{padding:0 0 30px;font-size:26px;line-height:31px;}
.main-content-box02 .ability-box ul li .ability-txt01{padding:0 0 20px;font-size:20px;line-height:25px;}
.main-content-box02 .ability-box ul li .ability-txt02{font-size:16px;line-height:21px;}
.main-content-box02 .ability-box ul li .ability-txt02 br{display:none;}

/*main-content03*/
.main-content-box03 .main-mini-wrap{padding:50px 10px;box-sizing:border-box;}
.main-content-box03 .tit-txt{padding:0 0 30px;font-size:26px;line-height:31px;}
.main-content-box03 .portfolio-list-box ul li{width:calc(50% - 12px);}
.main-content-box03 .portfolio-list-box ul li:nth-of-type(n){margin:0 20px 20px 0;}
.main-content-box03 .portfolio-list-box ul li:nth-of-type(2n){margin-right:0;}
.main-content-box03 .portfolio-list-box ul li .txt-box p{font-size:18px;line-height:23px;}

/*footer*/
.top-footer-box .copyright{font-size:14px;line-height:19px;}
}

@media screen and (max-width:768px){
    /*main-visual*/
    .main-visual-box .vi-txt-box .txt01{padding:0 0 20px;font-size:22px;line-height:27px;}
    .main-visual-box .vi-txt-box .txt02{font-size:35px;line-height:40px;}

    /*main-content01*/
    .main-content-box01 .img-box{padding:0 20px 0 0;height:300px;}
    .main-content-box01 .txt-box .tit-txt{padding:0 0 20px;font-size:22px;line-height:27px;}
    .main-content-box01 .txt-box .con-txt01{padding:0 0 10px;font-size:14px;line-height:19px;}
    .main-content-box01 .txt-box .con-txt01 br{display:none;}
    .main-content-box01 .txt-box .con-txt02{font-size:14px;line-height:19px;}
    .main-content-box01 .txt-box .con-txt02 br{display:none;}

    /*main-content02*/
    .main-content-box02 .tit-txt{padding:0 0 20px;font-size:22px;line-height:27px;}
    .main-content-box02 .ability-box ul{display:block;}
    .main-content-box02 .ability-box ul li{margin:0 0 20px;width:100%;}
    .main-content-box02 .ability-box ul li .img-box{margin:0 auto;padding:0 0 10px;width:60px;}
    .main-content-box02 .ability-box ul li .ability-txt01{padding:0 0 5px;font-size:16px;line-height:21px;}
    .main-content-box02 .ability-box ul li .ability-txt02{font-size:14px;line-height:19px;}

    /*main-content03*/
    .main-content-box03 .tit-txt{padding:0 0 20px;font-size:22px;line-height:27px;}
    .main-content-box03 .portfolio-list-box ul li{width:calc(50% - 7px);}
    .main-content-box03 .portfolio-list-box ul li:nth-of-type(n){margin:0 10px 10px 0;}
    .main-content-box03 .portfolio-list-box ul li:nth-of-type(2n){margin-right:0;}
    .main-content-box03 .portfolio-list-box ul li .img-box{margin:0 0 10px;height:200px;}
    .main-content-box03 .portfolio-list-box ul li .txt-box p{font-size:16px;line-height:23px;}
}

@media screen and (max-width:480px){
    .main-content-box01 .main-mini-wrap{display:block;}
    .main-content-box01 .img-box{padding:0 0 20px;width:100%;height:350px;}
    .main-content-box01 .txt-box{width:100%;}

    /*main-content03*/
    .main-content-box03 .portfolio-list-box ul li{display:block;width:100%;}
    .main-content-box03 .portfolio-list-box ul li:nth-of-type(n){margin:0 0 10px;}
    .main-content-box03 .portfolio-list-box ul li .txt-box p{font-size:14px;line-height:19px;}
}